<!DOCTYPE html>
<html>
  <head>
    <title>Backend 101</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
  </head>
  <body>
    <!-- This is where the content block will be rendered -->
    <!-- if it is defined in a template that extends this one -->
    <!-- otherwise, this block will be rendered as is -->
    <!-- without any content -->
    <!-- -->
    <!-- To include content in this block, define it in a -->
    <!-- child template that extends this one and overrides -->
    <!-- this block. -->
    <!-- -->
    <!-- Example: -->
    <!-- -->
    <!-- extends layout -->
    <!-- -->
    <!-- block content -->
    <!--   p This is some content that will replace the default content -->
    <!-- -->
    <!-- -->
    <!-- Note: the comments above are not part of the generated HTML -->
    <!-- they are included here for explanation purposes only -->
    <ol>
      <li>Connor</li>
      <li>Ivan</li>
      <li>Andrei</li>
    </ol>
  </body>
</html>